.venv
.git
.github
dist
build
tests
docs
*.egg-info
.mypy_cache
.ruff_cache
.pytest_cache
.coverage
.coverage.*
coverage.xml
__pycache__
*.pyc
*.pyo
.editorconfig
.pre-commit-config.yaml
justfile
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
.DS_Store
